<h1>Login Here!</h1>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="username" [(ngModel)]="username" class="form-control" id="username" placeholder="Enter username" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="password" class="form-control" id="password" placeholder="Enter password" name="password">
  </div>
  <input type="submit" class="btn btn-default" value="Submit">
</form>